  <footer class="footer">
    <div class="container">
      <div class="footer__content">
        <img class="footer__logo" src="./assets/images/logo-side.svg" />
        <div class="footer__contact">
          <p class="contact-description">
            大会に関するご質問やご相談、パートナーシップのご提案は、下記よりお気軽にご連絡ください。<br />
            プレイヤー登録やイベント詳細について、運営チームがサポートします。
          </p>
          <div class="separator"></div>
          <p class="contact-description">
            <strong>E-Mail:</strong>
            <a href="mailto:rashinban.geo@gmail.com">rashinban.geo@gmail.com</a>
            <br />
            <strong>Discord:</strong>
            <a href="https://discord.gg/8mM5FzeQwu" target="_blank" rel="noreferrer">世界マップ鯖</a>
          </p>
        </div>
        <div class="footer__social">
          <ul>
            <li><a href="https://x.com/rashinban_geo" target="_blank" rel="noreferrer"><i class="bi bi-twitter"></i></a></li>
            <li><a href="https://twitch.tv/sp4geo" target="_blank" rel="noreferrer"><i class="bi bi-twitch"></i></a></li>
            <li><a href="https://youtube.com/@sp4geo" target="_blank" rel="noreferrer"><i class="bi bi-youtube"></i></a></li>
            <li><a href="https://www.tiktok.com/@rashinban_geo" aria-label="TikTok"><i class="bi bi-tiktok"></i></a></li>
            <li><a href="#" aria-label="Discord"><i class="bi bi-discord"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p>&copy; 2025 RASHINBAN Tournament. All rights reserved.</p>
      </div>
      <div class="footer__bottom-logo">
        <img src="./assets/images/compass-footer.svg" />
      </div>
    </div>
  </footer>
