<nav class="nav">
      <div class="nav__container">
        <div class="nav__brand">
        </div>
        <ul class="nav__menu">
          <li class="nav__item nav__item--close">
            <button class="nav__close" type="button" aria-label="メニューを閉じる">
              <i class="bi bi-x-lg" aria-hidden="true"></i>
            </button>
          </li>
          <li class="nav__item">
            <a href="/#news" class="nav__link">NEWS</a>
          </li>
          <li class="nav__item">
            <a href="/#live" class="nav__link">WATCH</a>
          </li>
          <li class="nav__item">
            <a href="/#about" class="nav__link">ABOUT</a>
          </li>
          <!-- <li class="nav__item">
            <a href="/#tournament" class="nav__link">TOURNAMENT</a>
          </li> -->
          <li class="nav__item">
            <a href="/tickets" class="nav__link">TICKETS</a>
          </li>
          <!-- <li class="nav__item">
            <a href="/#players" class="nav__link">PLAYERS</a>
          </li> -->
          <li class="nav__item">
            <a href="#" class="nav__link">FAQ</a>
          </li>
          <!-- <li class="nav__item">
            <a href="#" class="nav__link">STAFF</a>
          </li> -->
          <li class="nav__item">
            <a href="/#sponsor" class="nav__link">SPONSORS</a>
          </li>
          <!-- <li class="nav__item">
            <a href="/#contacts" class="nav__link">CONTACTS</a>
          </li> -->
        </ul>
        <button class="nav__toggle" id="nav-toggle">
          <span class="nav__toggle-line"></span>
          <span class="nav__toggle-line"></span>
          <span class="nav__toggle-line"></span>
        </button>
      </div>
    </nav>